/* Sidebar */
#panel_nav > aside {
    background-color: #333;
}
#panel_nav > aside ul {
    margin: 1rem 0; /* add some air at the top */
    padding: 0;
}
/* Sidebar: Menu items */
#panel_nav > aside ul li {
    background-color: transparent;
    list-style: none;
    position: relative;
}
/* Sidebar: Menu items: Current page - whole item */
#panel_nav > aside ul li:has(a[aria-current=page]) {
    background-color: rgba(255, 255, 255, .1);
}
/* Sidebar: Menu items: Current page - indicator on the side */
#panel_nav > aside ul li:has(a[aria-current=page]):after {
    background-color: #fff;
    content: '';
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: .2rem;
}

/* Main block */
/* Main block: Top bar */
#panel_nav > div:last-child nav:first-child {
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
}
/* Main block: Top bar: Menu items */
#panel_nav > div:last-child nav:first-child li {
    position: relative; /* for the current page indicator below */
}
/* Main block: Top bar: Current page */
#panel_nav > div:last-child nav:first-child li:has(a[aria-current=page]):after {
    background-color: #333;
    bottom: -1px;
    content: '';
    height: .2rem;
    right: 0;
    position: absolute;
    width: 100%;
}
